---
layout: base
---

<article class="container">
    {% markdown about.md %}

    <h2>Organizatorzy</h2>
    <section class="members">
        <ul>
            {% for member in site.data.people %}
            <li>
                <img src="/images/{{ member.avatar }}" class="avatar"><br>
                <a href="https://github.com/{{ member.github }}">
                    {{ member.name }}
                </a><br>

                {% if member.twitter %}
                    <a href="https://twitter.com/{{ member.twitter }}" class="twitter-follow-button" data-show-count="true"
                       data-show-screen-name="false">Follow</a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </section>
</article>