---
layout: base
---
<article class="container">
    <h1>Zespół</h1>
    <section class="members">
        <ul>
            {% for member in site.data.people %}
            <li>
                <img src="/images/{{ member.avatar }}" class="avatar"><br>
                <a href="https://github.com/{{ member.github }}">
                    {{ member.name }}
                </a><br>
                <span>{{ member.title }}</span><br>
                {% if member.twitter %}
                <a href="https://twitter.com/{{ member.twitter }}" class="twitter-follow-button" data-show-count="true"
                   data-show-screen-name="false">Follow</a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </section>
</article>
<script type="text/javascript">
    window.twttr = (function (d, s, id) {
        var t, js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);
        return window.twttr || (t = {
                    _e: [], ready: function (f) {
                        t._e.push(f)
                    }
                });
    }(document, "script", "twitter-wjs"));
</script>