@media (max-width: 1000px) {
    
    .container > header, .container > section, .container > footer {
        padding:0;
        margin:1.5em 5%;
    }
    
    .container > section {
        padding-bottom:1.5em;
    }

}

@media (max-width: 840px) {
    .tagline span {
        display:none;
    }

    article.container {
        margin: 0 5%;
    }
}

@media (max-width: 720px) {
    body {
        padding: 100px 0 0;
    }
    
    article {
        padding: 30px 0 0 0;
        
        .container > header, .container > section, .container > footer {
            padding:0;
            margin:1.5em 10%;
        }
        
        .container > footer {
            padding:2em 0;
        }
        
        .full, pre {
            margin:1em 0;
        }
        
        pre {
            padding:1em;
        }
        
        blockquote {
            margin:1em 0;
            
            p {
                font-size:1em;
            }
        }
        
        h1 {
            font-size:1.8em;
        }
        
        h2 {
            font-size:1.4em;
        }
        
        p {
            font-size:0.9em;
        }
    }

    div.blog-sponsors {
        height: 200px;

        >section {
            padding-top: 0;

            img {
                display: block;
                margin: 10px auto;
            }
        }
    }
    
    .blog-cover {
        height:330px;

        img {
            max-height:150px;
            max-width:150px;
        }
        
        section {
            padding:60px 0 0;
            text-align:center;
            
            a {
                margin:0.5em;
            }
        }
        h1 {
            font-size:1.5em;
        }
        
        h3 {
            font-size:1em;
        }
    }
    
    .site-nav .tagline span {
//        display:none;
    }
    
    .site-nav {
        height: 140px;
        nav {
            padding: 22px 5%;
        }
        #navigation {
            a {
                display:inline-block;
                float: left;
                clear: both;
                margin: 0;
            }
            
            .brand {
                display:inline-block;
            } 
        }
    }
    
    .site-footer {
        margin-top:0;
        padding:2em 10%;
        text-align:center;
        
        nav {
            display:block;
            float:none !important;
            padding:1em;
        }
    }
    
    .index {
        padding:0;
        margin:0 10%;
        
        > div {
            margin:0;
        }
        
        img {
            display:none;
        }
    }

    .container > section.members {
        ul {
            li {
                display: block !important;
                width: 100%;
            }
        }
    }

    .container > section > div.speaker {
      display: block;
      text-align: center;

      p {
        text-align: left;
      }
    }
}